<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}<li style="color:yellow"> ezekiel.williams&lt;at&gt;mila.quebec </li>{%- endif -%}
            <!---
            {%- if site.gs_title -%}<li><i class="ai ai-google-scholar ai-1x"></i> <a href="https://scholar.google.ca/citations?user=KwgL380AAAAJ&hl=en&oi=ao"><span class="username">{{ site.gs_title| escape }}</span></a></li>{%- endif -%}
            --->
  			{%- if site.cv_link -%}<li><a href="{{ site.cv_link | relative_url }}">CV</a></li>{%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
